In [2]:
import pandas as pd
import numpy as np

In [3]:
orders_df = pd.read_csv("assets/orders.csv")
orders_df.head()

,ID_Order,ID_Customer,ID_Item,DateTime_CartFinalize,Amount_Gross_Order,city_name_fa,Quantity_item
0,2714054,469662,21386,2015-10-15 08:50:56.000,597982.0,محمود آباد,1.0
1,11104039,3063877,248497,2018-02-11 00:29:26.000,980000.0,خرمدره,1.0
2,4228130,3184893,50144,2016-06-14 00:30:08.000,229358.0,قرچک,1.0
3,22225624,6888562,70208,2018-09-03 14:37:19.000,16514.0,قم,1.0
4,4068771,2533490,67627,2016-05-21 11:51:02.000,133028.0,تهران,1.0

In [8]:
orders_df.info()

<class 'pandas.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 7 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   ID_Order               200000 non-null  int64
 1   ID_Customer            200000 non-null  int64
 2   ID_Item                200000 non-null  int64
 3   DateTime_CartFinalize  200000 non-null  str
 4   Amount_Gross_Order     200000 non-null  float64
 5   city_name_fa           200000 non-null  str
 6   Quantity_item          200000 non-null  float64
dtypes: float64(2), int64(3), str(2)
memory usage: 10.7 MB

In [ ]:
orders_df

### Things I need to know about this dataset

- Time Period of this data
- aggregation using group by for various scenarios

In [ ]:
# فاصله زمانی این دیتاست: کم‌ترین زمان تا بیشترین زمان
min_date = orders_df.DateTime_CartFinalize.min()
max_date = orders_df.DateTime_CartFinalize.max()
print(f"Dataset Time Period: from {min_date} to {max_date}")

Dataset Time Period: from 2013-09-27 12:03:00.000 to 2018-12-11 04:47:23.000

str